<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/create">Create</a>
  </li>
</ul>
<div class="card text-center" >
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
<form action="/save" method="POST">
    {%csrf_token %}
    <span class="start-0">Ismingiz</span>
    <input class="form-control form-control-sm w-25 h-25 " type="text" name="title">
    <label class="start-0"> jinsni tanlang</label>
    <select name="gender" class="start-0">
        <option value="Erkak">Erkak</option>
        <option value="Ayol">Ayol</option>
    </select>
    <span class="start-0">Tug'ilgan sanangiz</span>
    <input type="date" name="sana" min="01.01.2011" class="start-0">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label start-0">Email address</label>
  <input type="email" class="form-control w-25 h-25" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
</div>
    <div class="form-floating">
  <select class="form-select w-25 h-25" id="floatingSelect" multiple name="a" >
    <option selected value="1">JS</option>
    <option value="2">Python</option>
    <option value="3">C#</option>
  </select>
</div>
    <div class="form-check">
  <input class="form-check-input start-0" type="radio" name="kurs" checked value="Frontend">
    Frontend
    </div>
    <div class="form-check">
  <input class="form-check-input start-0" type="radio" name="kurs" value="Backend">
    Backend
    </div>
    <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Izoh</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="30" name="body"></textarea>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="reset" class="btn btn-danger">
</form>
  </div>
    <div class="card-footer text-muted">

  </div>
</div>
</body>
</html>