<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create">Create</a>
  </li>
</ul>
<table border="1" class="table table-success table-striped">
    <tr class="table-light">
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Gender</th>
        <th scope="col">Tug'ilgan sana</th>
        <th scope="col">Bilim</th>
        <th scope="col">Kurs</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
    </tr>
    {% for home in homes %}
        <tr>
            <td>
                {{ home.title }}
            </td>
            <td>
                {{ home.body }}
            </td>
            <td>
                {{ home.gender }}
            </td>
            <td>
                {{ home.sana }}
            </td>
            <td>
                {% for list in home.bilim.all %}
                {{ list.name }}
                {% endfor %}
            </td>
            <td>
                {{home.kurs}}
            </td>
            <td>{{ home.email }}</td>
            <td>
                <a href="/update?id={{home.id}}">Update</a>
                <a href="/delete?id={{home.id}}">Delete</a>
            </td>
        </tr>
    {% endfor%}
</table>
It is {% now "SHORT_DATETIME_FORMAT" %}
</body>
</html>