<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"  href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create">Create</a>
  </li>
</ul>
<form action="/store" method="POST" class="needs-validation" novalidate>
    {%csrf_token %}
    <input type="text" name="id" value="{{ home.id }}" hidden>
    Ismingiz
    <input type="text" name="title" value="{{home.title}}">
    {%if title != home.title%}
    {{ error }}
    {%endif%}
    Jinsingiz
    <select name="gender" class="form-select" id="validationCustom04" required >
        <option value="Erkak">Erkak</option>
        <option value="Ayol">Ayol</option>
    </select>
    Tug'ilgan sanangiz
    <input type="date" name="sana" required>
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label" required>Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" required>
        {{ error}}
</div>
    <div class="form-floating">
  <select class="form-select" id="floatingSelect" multiple name="a" required>
    <option value="1">JS</option>
    <option value="2">Python</option>
    <option value="3">C#</option>
  </select>
</div>
     <div class="form-check form-switch">
  <input class="form-check-input" type="radio" name="kurs" checked value="Frontend" required>
    Frontend
    </div>
    <div class="form-check form-switch">
  <input class="form-check-input" type="radio" name="kurs" value="Backend" required>
    Backend
    </div>
    <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Izoh</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="30" name="body" required>{{home.body}}</textarea>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="reset" class="btn btn-danger">
</form>

</body>
</html>