<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 – Classic editor</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
</head>
<body>
<h1>Classic editor</h1>
<form class="form-wrapper" action="/postsave" method="POST">
    {% csrf_token %}
    <input type="text" name="title">
    <select name="category" >
        {% for category in categorys %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>
    <textarea name="text" id="editor">
        &lt;p&gt;This is some sample content.&lt;/p&gt;
    </textarea>
    <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i>
    </button>
</form>
<script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );

</script>
</body>
</html>