<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 – Classic editor</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
</head>
<body>
<h1>Update your post</h1>
<form class="form-wrapper" action="/poststore" method="POST">
    {% csrf_token %}
    <input type="text" hidden name="id" value="{{ post.id }}">
    <input type="text" name="title" value="{{post.title}}" >
    <select name="category" >
        {% for category in categorys %}
        {% if category.id == post.category_id %}
        <option selected value="{{category.id}}">{{category.name}}</option>
        {% else %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <textarea name="text" id="editor">
        {{ post.text }}
    </textarea>
    <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i>
    </button>
</form>
<script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );

</script>
</body>
</html>