<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">

<!-- Mobile Metas -->
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

<!-- Site Metas -->
<title>KH's Blog - </title>
<meta content="" name="keywords">
<meta content="" name="description">
<meta content="" name="author">

<!-- Site Icons -->
<link href="/static/custom/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/static/custom/images/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/static/custom/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="/static/custom/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="/static/custom/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="/static/custom/css/colors.css" rel="stylesheet">

<!-- Version Tech CSS for this template -->
<link href="/static/custom/css/version/tech.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<div id="wrapper">
    <header class="tech-header header">
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right" data-target="#navbarCollapse" data-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/posts"><img alt="" src="/static/custom/images/version/tech-logo.png"></a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% for nav in navs %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{nav.links}}">{{nav.title}}</a>
                        </li>
                        {% endfor %}
                        <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                               data-toggle="dropdown" href="#" id="dropdown01">News</a>
                            <ul aria-labelledby="dropdown01" class="dropdown-menu megamenu">
                                <li>
                                    <div class="container">
                                        <div class="mega-menu-content clearfix">
                                            <div class="tab">
                                                <button class="tablinks active" onclick="openCategory(event, 'cat01')">
                                                    Science
                                                </button>
                                                <button class="tablinks" onclick="openCategory(event, 'cat02')">
                                                    Technology
                                                </button>
                                                <button class="tablinks" onclick="openCategory(event, 'cat04')">Car
                                                    News
                                                </button>
                                            </div>

                                            <div class="tab-details clearfix">
                                                <div class="tabcontent active" id="cat01">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/post" title="">
                                                                        <img alt="" class="img-fluid"
                                                                             src="/static/custom/upload/tech_menu_01.jpg">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat">Science</span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/post" title="">Top 10+ care advice for
                                                                        your toenails</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                    </div><!-- end row -->
                                                </div>
                                                <div class="tabcontent" id="cat02">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/post" title="">
                                                                        <img alt="" class="img-fluid"
                                                                             src="/static/custom/upload/tech_menu_05.jpg">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat">Technology</span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/post" title="">2017 summer stamp will
                                                                        have design models here</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                    </div><!-- end row -->
                                                </div>
                                                <div class="tabcontent" id="cat04">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="blog-box">
                                                                <div class="post-media">
                                                                    <a href="/post" title="">
                                                                        <img alt="" class="img-fluid"
                                                                             src="/static/custom/upload/tech_menu_13.jpg">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat">Car News</span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="/post" title="">A collection of the
                                                                        most beautiful shop designs</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>
                                                    </div><!-- end row -->
                                                </div>
                                            </div>
                                        </div><!-- end tab-details -->
                                    </div><!-- end mega-menu-content -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div><!-- end container-fluid -->
    </header><!-- end market-header -->

    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                <div class="first-slot">
                    <div class="masonry-box post-media">
                        <img alt="" class="img-fluid" src="/static/custom/upload/tech_01.jpg">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="/post" title="">Technology</a></span>
                                    <h4><a href="/post" title="">Say hello to real handmade office furniture! Clean &
                                        beautiful design</a></h4>
                                    <small><a href="/post" title="">24 July, 2017</a></small>
                                    <small><a href="/post" title="">by Amanda</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->

                <div class="second-slot">
                    <div class="masonry-box post-media">
                        <img alt="" class="img-fluid" src="/static/custom/upload/tech_02.jpg">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="/post" title="">Technology</a></span>
                                    <h4><a href="/post" title="">Do not make mistakes when choosing web hosting</a></h4>
                                    <small><a href="/post" title="">03 July, 2017</a></small>
                                    <small><a href="/post" title="">by Jessica</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->

                <div class="last-slot">
                    <div class="masonry-box post-media">
                        <img alt="" class="img-fluid" src="/static/custom/upload/tech_03.jpg">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="/post.html" title="">Technology</a></span>
                                    <h4><a href="/post" title="">The most reliable Galaxy Note 8 images leaked</a></h4>
                                    <small><a href="/post" title="">01 July, 2017</a></small>
                                    <small><a href="/post" title="">by Jessica</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->
            </div><!-- end masonry -->
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                        </div><!-- end blog-top -->

                        <div class="blog-list clearfix">
                            <div class="blog-box row">
                                {% for post in posts %}
                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="/post?id={{post.id}}" title="">{{post.title}}</a></h4>
                                    <p>{{post.text|safe  }}</p>
                                    <small class="firstsmall"><a class="bg-orange" href="/post" title="" name="category">{{post.category}}</a></small>
                                    <small><a href="/post" title="">21 July, 2017</a></small>
                                    <small><a href="/post" title="">by Matilda</a></small>
                                    <small><a href="/post" title=""><i class="fa fa-eye"></i>
                                        {{post.view_count}}</a></small>
                                </div>
                                {% endfor %}
                                <!-- end meta -->
                            </div><!-- end blog-box -->
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <hr class="invis">

                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img alt="" class="img-fluid" src="/static/custom/upload/banner_07.jpg">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Trend Videos</h2>
                            <div class="trend-videos">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="/post" title="">
                                            <img alt="" class="img-fluid" src="/static/custom/upload/tech_video_01.jpg">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="/post" title="">We prepared the best 10 laptop presentations for
                                            you</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="/post" title="">
                                            <img alt="" class="img-fluid" src="/static/custom/upload/tech_video_02.jpg">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="/post" title="">We are guests of ABC Design Studio - Vlog</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="/post" title="">
                                            <img alt="" class="img-fluid" src="/static/custom/upload/tech_video_03.jpg">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="/post" title="">Both blood pressure monitor and intelligent
                                            clock</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end videos -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Popular Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                                       href="/post">
                                        <div class="w-100 justify-content-between">
                                            <img alt="" class="img-fluid float-left" src="/static/custom/upload/tech_blog_08.jpg">
                                            <h5 class="mb-1">5 Beautiful buildings you need..</h5>
                                            <small>12 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                                       href="/post">
                                        <div class="w-100 justify-content-between">
                                            <img alt="" class="img-fluid float-left" src="/static/custom/upload/tech_blog_01.jpg">
                                            <h5 class="mb-1">Let's make an introduction for..</h5>
                                            <small>11 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                                       href="/post">
                                        <div class="w-100 last-item justify-content-between">
                                            <img alt="" class="img-fluid float-left" src="/static/custom/upload/tech_blog_03.jpg">
                                            <h5 class="mb-1">Did you see the most beautiful..</h5>
                                            <small>07 Jan, 2016</small>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Recent Reviews</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                                       href="/post">
                                        <div class="w-100 justify-content-between">
                                            <img alt="" class="img-fluid float-left" src="/static/custom/upload/tech_blog_02.jpg">
                                            <h5 class="mb-1">Banana-chip chocolate cake recipe..</h5>
                                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                        </div>
                                    </a>

                                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                                       href="/post">
                                        <div class="w-100 justify-content-between">
                                            <img alt="" class="img-fluid float-left" src="/static/custom/upload/tech_blog_03.jpg">
                                            <h5 class="mb-1">10 practical ways to choose organic..</h5>
                                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                        </div>
                                    </a>

                                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                                       href="/post">
                                        <div class="w-100 last-item justify-content-between">
                                            <img alt="" class="img-fluid float-left" src="/static/custom/upload/tech_blog_07.jpg">
                                            <h5 class="mb-1">We are making homemade ravioli..</h5>
                                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Follow Us</h2>

                            <div class="row text-center">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a class="social-button facebook-button" href="#">
                                        <i class="fa fa-facebook"></i>
                                        <p>27k</p>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a class="social-button twitter-button" href="#">
                                        <i class="fa fa-twitter"></i>
                                        <p>98k</p>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a class="social-button google-button" href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <p>17k</p>
                                    </a>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <a class="social-button youtube-button" href="#">
                                        <i class="fa fa-youtube"></i>
                                        <p>22k</p>
                                    </a>
                                </div>
                            </div>
                        </div><!-- end widget -->

                        <div class="widget">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img alt="" class="img-fluid" src="/static/custom/upload/banner_03.jpg">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="widget">
                        <div class="footer-text text-left">
                            <a href="index.html"><img alt="" class="img-fluid"
                                                      src="/static/custom/images/version/tech-footer-logo.png"></a>
                            <p>KH's Blog is a technology blog, we sharing marketing, news and gadget articles.</p>
                            <div class="social">
                                <a data-placement="bottom" data-toggle="tooltip" href="#" title="Facebook"><i
                                        class="fa fa-facebook"></i></a>
                                <a data-placement="bottom" data-toggle="tooltip" href="#" title="Twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a data-placement="bottom" data-toggle="tooltip" href="#" title="Instagram"><i
                                        class="fa fa-instagram"></i></a>
                                <a data-placement="bottom" data-toggle="tooltip" href="#" title="Google Plus"><i
                                        class="fa fa-google-plus"></i></a>
                                <a data-placement="bottom" data-toggle="tooltip" href="#" title="Pinterest"><i
                                        class="fa fa-pinterest"></i></a>
                            </div>

                            <hr class="invis">

                            <div class="newsletter-widget text-left">
                                <form class="form-inline">
                                    <input class="form-control" placeholder="Enter your email address" type="text">
                                    <button class="btn btn-primary" type="submit">SUBMIT</button>
                                </form>
                            </div><!-- end newsletter -->
                        </div><!-- end footer-text -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">Marketing <span>(21)</span></a></li>
                                <li><a href="#">SEO Service <span>(15)</span></a></li>
                                <li><a href="#">Digital Agency <span>(31)</span></a></li>
                                <li><a href="#">Make Money <span>(22)</span></a></li>
                                <li><a href="#">Blogging <span>(66)</span></a></li>
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h2 class="widget-title">Copyrights</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Advertising</a></li>
                                <li><a href="#">Write for us</a></li>
                                <li><a href="#">Trademark</a></li>
                                <li><a href="#">License & Help</a></li>
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <div class="copyright">&copy; KH's Blog. Design: <a href="http://html.design">HTML Design</a>.</div>
                </div>
            </div>
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="dmtop">Scroll to Top</div>

</div><!-- end wrapper -->

<!-- Core JavaScript
================================================== -->
<script src="/static/custom/js/jquery.min.js"></script>
<script src="/static/custom/js/tether.min.js"></script>
<script src="/static/custom/js/bootstrap.min.js"></script>
<script src="/static/custom/js/custom.js"></script>

</body>
</html>